upstream shorturl_server {
    # swap the commented lines below to switch between socket and port
    server unix:/var/run/shorturl.sock fail_timeout=0;
}
server {
    listen 80;
    server_name www.3sd.me;
    return 301 $scheme://3sd.me$request_uri;
}

server {
    listen 80;
    client_max_body_size 1M;
    server_name 3sd.me;
    error_log  /var/log/shorturl/error.log;
    access_log /var/log/shorturl/access.log;

    keepalive_timeout 5;

    # path for static files
    location  /static/ {
        alias /www/ShortURL/shorturl/assets/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://shorturl_server;
            break;
        }
    }
}
