[program:shorturl]
autostart=true
autorestart=true
startretries=3
stopwaitsecs = 60
directory = /www/ShortURL/shorturl
command = /www/ShortURL/.env/bin/gunicorn shorturl.wsgi:application -c /www/shorturl-conf/gunicorn.py
logfile_maxbytes=5MB
logfile_backups=2
stdout_logfile = /var/log/shorturl.log
redirect_stderr = true
