/* TODO 各种大小自适应（响应式 web 设计） */
body {
  background-image: url("/static/dot.png");
  margin: 0;
  padding: 0;
}
#main {
  width: 800px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}
#main input {
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #CCC;
  /*font-style: normal;*/
  font-size: 110%;
  color: #AAA;
}
#main input:focus {
  box-shadow: 0 0 3px #6699BB;
  color: #000;
}
#form {
  /*width: 500px;*/
  /*margin: auto;*/
  margin-top: 180px;
  padding: 5px;
  /*text-align: center;*/
}
#form input.warning {
  box-shadow: 0 0 5px red;
}
#form input#url {
  min-width: 600px;
  min-height: 28px;
  padding: 5px;
}
#form input#submit {
  /*background-color: #EEE;*/
  min-height: 38px;
  font-size: 110%;
}
#form input.pointer {
  cursor: pointer;
  /*cursor: hand;*/
}
#form input.progress {
  cursor: progress;
}
#form input#submit:hover {
  color: #000;
}
#msg.hidden {
  display: none;
}
#msg {
  margin-top: 5px;
  color: red;
  font-size: 110%;
  /*font-weight: bold;*/
}
#result.hidden {
  visibility: hidden;
}
#result {
  /*margin*/
  /*width: 500px;*/
  /*text-align: center;*/
  margin: 15px auto auto 200px;
}
#result input {
  min-height: 25px;
  min-width: 210px;
  margin-bottom: 10px;
  padding: 5px;
}
#result #qrcode {
 margin-left: 8px;
 width: 200px;
 height: 200px;
}
#shorten-page {
  margin-top: 180px;
}
/*#result span {*/
  /*display: block;*/
/*}*/
#result img:-moz-broken {
  -moz-force-broken-image-icon: 1;
  /*width: 24px;*/
  /*height: 24px;*/
}
#result div#qrcode {
  width: 180px;
  height: 180px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
table#qrcode-table {
  border: 0 none #0000ff;
  border-collapse: collapse;
  width: 180px;
  height: 180px;
  /*margin: auto;*/
}
table#qrcode-table tr td {
  border: 0 none #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 4px;
  /*height: 4px;*/
}
table#qrcode-table tr td.dark {
  background-color: #000;
}
table#qrcode-table tr td.white {
  background-color: #fff;
}
